// Breakpoints

$breakpoints: (sm: 576px,
    md:768px,
    lg:992px,
    xl:1200px);

$breakpoint: map-get($breakpoints, sm);

@mixin respond-above($breakpoint) {

    // If the breakpoint exists in the map.
    @if map-has-key($breakpoints, $breakpoint) {

        // Get the breakpoint value.
        $breakpoint-value: map-get($breakpoints, $breakpoint);

        // Write the media query.
        @media (min-width: $breakpoint-value) {
            @content;
        }

        // If the breakpoint doesn't exist in the map.
    }

    @else {

        // Log a warning.
        @warn 'Invalid breakpoint: #{$breakpoint}.';
    }
}



@include respond-above(md) {
    .container-md{
        max-width: 750px;
    } 
}


@include respond-above(lg) {
  
    .container-md{
        max-width: 1000px;
    } 
}

@include respond-above(xl) {
    .container-md{
     max-width: 1140px;
    }   
}
