// Colours
$black: #000000;
$soft-black:#2F2F2F;
$white: #FFFFFF;
$light-grey: #F0F0F0;
$main-pink: #FA85B6;
$accent:#FCBAD6;
$light-accent:#FFF5F9;
$grey:#A5A5A5;
$opacGrey:#a5a5a557;
$dark-grey:#4E4E4E;
