// ===== VARIABLES ===== //


// Colours
$black: #000000;
$soft-black:#2F2F2F;
$white: #FFFFFF;
$light-grey: #F0F0F0;
$main-pink: #FA85B6;
$accent:#FCBAD6;
$light-accent:#FFF5F9;


// Typography
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:300,400,500,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Niconne&display=swap');

$font-cursive: 'Niconne', Helvetica, sans-serif;
$font-set-1: 'Noto Sans JP', Helvetica, sans-serif;

$light: 300;
$normal: 400;
$med:500;
$bold:700;

H1{
    font-family:$font-cursive;
    font-size: 2.25rem; //36px
    line-height:2.375rem; //38px
    color:$soft-black;
    padding: 5.125rem 0 1.25rem; //80px 0 20px
}

H2{
    color:$soft-black;
    font-family:$font-set-1; 
    font-weight: $med;
    font-size: 1.25rem;//20px
}

H2.cats_title{
font-weight: $light;
font-size: 1.25rem;//20px
margin:69px auto;
text-align: center;
}

H3{
    font-weight: $bold;
    font-size: 1.25rem;//20px  
}

H3.category_links{
color:$white;
position: relative;
z-index: 1;
}



// ===== MIXINS ===== //

//buttons

@mixin primaryBtn{
    background-color:$main-pink;
    color:$black;
    font-family: $font-set-1;
    font-weight: $bold;
    width:168px;
    height:40px;
    font-size: 0.8125rem;//13px
    text-transform: uppercase;
    border-radius: 3px;


    }
    
@mixin secBtn{
        background-color:$black;
        color:$white;
        font-family: $font-set-1;
        font-weight: $bold;
        width:168px;
        height:40px;
        font-size: 0.8125rem;//13px
        text-transform: uppercase;
        border-radius: 3px;
    }


//aligments
@mixin flexCenter{
    display:flex;
    justify-content: center;
    align-items: center;
    text-align:center;
}

//global barNavs
@mixin barNavs{
    font-size: 1.01rem;
    color:$white;
    height: 40px;
    line-height: 2.25rem; //36px;
    text-align: center;
}

//transparent
@mixin remove{
        border-color:transparent;
        background-color:transparent;
    }


// Breakpoints
@mixin tablet {
    @media (min-width: 768px) { @content; }
  }

  @mixin desktop {
    @media (min-width: 1200px) { @content; }
  }


// ===== GLOBAL STYLES ===== //

body{
    font-size:16px;    
    margin:0px;
}

.container-fluid, .container-xl{
    padding:0px;
}


ul{
    list-style: none;
    padding-inline-start: 0px;
}

button{
    @include remove();
    font-size: 0.6875rem;
}


// ==== MAIN NAV ===//
.second-nav{
    @include barNavs();
    background-color: $light-grey;
}



.social-nav{
    @include barNavs();
    background-color:$black;
    margin: 0;
}

#showNav{
    position: absolute;
    width: 100%;
}

.box-left{
        display: inline-flex;
        max-width: 43%;
        border-right: solid;

    

 a{
     color:$white;
     padding: 0 0.4375rem;
 }
}

.box-right{
        max-width: 58%;
        padding: 0;
    a{
        color: $white;
        padding: 0 0.4375rem;
    }
}


.navbar{
    padding: 0 0.9375rem 0 0.9375rem;
    height: 60px;
}

.navbar-toggler{
    margin: 0 1.875rem 0 0;
    font-size: 2rem;
    padding: 0;
}

.nav-link{
    padding:0;
}


img#logo{
    width: 90px;
    margin: 0 auto;

}

.icon svg{
    height:20px;
} 

.pink-box{
    background-color: $light-accent;

    li{
        font-size: 1.125rem;//18px
        padding: 1.25rem 1.625rem; //20px 26px

    a{
        color:$soft-black;
        text-decoration: none;  

        &:hover, &:active{
            background-color: #FCBAD6;
            height: 55px;
            display: block;
            padding-top: 0.9375rem;//15px
            padding-left: 1.875rem; //30px
            }
           
    }
    
    } 
    
    
}

// ===BANNER===//
#heroImage {
    background: url(/assets/images/bride-hero.png) no-repeat;
    height: 75vh;
    background-position-x: 39vw;
    background-position-y: -63px;
    background-size: 300px;
}

.primaryBtn{
    @include primaryBtn();
}

.hero.primaryBtn{
    @include primaryBtn();
    margin-bottom: 1.375rem;//22px
}


.secBtn{
    @include secBtn();
}

//====Ad Image Layout

.ad-image{
    padding: 0; 

    img{
        width:320px;
    }
}


.ad-text{
    background-color: $light-accent;
    height:273px;
    margin-top:0.5rem;//8px
    h2{
        text-align:center;
        padding: 5.25rem 1.5625rem 1.5625rem;
    }
}

.ad.primaryBtn{
    @include primaryBtn();
    display:block;
    margin:0 auto;
}

//=== Categories===//
a.active_link:hover, a.active_link:active {
    color:$white;
    text-decoration: underline;
    .cats_box .cat-images{
        background-color: #0000002e !important;
        background-blend-mode: overlay;
    }

}

.cat.col{
padding:0;
}

.cats_box {
    min-height: 216px;
    position: relative;
    margin-bottom: 8px;
    @include flexCenter();
    padding: 1.875rem;//30px
    
    .cat-images{
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: block;
        position: absolute;
    }
}

